<!DOCTYPE html>
<html lang="en">
<head>
  <title>Best Physics Classes & NEET IIT-JEE Coaching in Delhi Vikaspuri Janakpuri </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <link rel="stylesheet" href="../css/eachChapter.css">
</head>
<body>

    <div class="container-fluid">
      <div class="well">
         <div class = "row">
          <div class = "col-sm-3">
           <img class ="img-responsive" src="/img/physicstree.png">     
          </div>  
          <div class = "col-sm-9">   
            <h1 >The Physics Tree</h1>
            <h4 id= "tagLines">Best IIT-JEE & NEET Coaching in Delhi(Janakpuri)</h4>
            <h4>Providing the best study material with 5000+ Questions on this website</h4>
            <h4>Free Chapter wise & Topic wise study material, videos & Online test series for every one </h4> 
        </div>
      </div>
    </div>
  </div>
  
      <div class="container-fluid" id="quesDiv">
        <div class= "well well-sm" id="chapterHeading">
          <h3 id= "testName">{{testName}}</h3>
          
          <div class = "well well-sm" id="quesDiv">
            <p id="questionText">What is your name?</p>
            <img id="questionImage">
            <p id="questionAnswer"><button id="showAnswer">Show Answer</button>Answer: Anshul</p>     
            <div class="well well-sm">            
            <button class = "btn btn-primary" id="previousQuestion">Previous</button>   
            <button class ="btn btn-primary" id="nextQuestion">Next</button>
            </div>    
          </div>
          <div class = "well well-sm" id="testDiv">

          </div>
      </div>    
    </div>
       
      

     

      

        



    <script src="/js/test.js"></script>
    
</body>


