.head{
    background-color: rgb(179, 255, 187);
}
.icon {    
    width:  100px;
    height: 100px;
    object-fit: cover;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}

a {
    font-family: 'Franklin Gothic Medium';
    font-size: large;
    font-weight: bolder;
}

.well{background: #fff;
}

#chapterName{
    text-align: center;
}
#sectionName{
    text-align: center;
}

.test{
    background-color: lemonchiffon;
}
h4{
    background-color: rgb(215, 237, 250);
    padding: 10px;
}

h3{
    background-color: rgb(215, 237, 250);
    padding: 15px;
}

h1{
    background-color: rgb(215, 237, 250);
    padding: 20px;
}

button{
    margin-bottom: 25px;
}

