.head{
    background-color: rgb(179, 255, 187);
}
.icon {    
    width:  100px;
    height: 100px;
    object-fit: cover;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}

a {
    font-family: 'Franklin Gothic Medium';
    font-size: large;
    font-weight: bolder;
}

.well{background: #fff;
}

#chapterName{
    text-align: center;
}
#sectionName{
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.centerFull {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.test{
    background-color: lemonchiffon;
    align-content: center;
    margin-left: auto;
	margin-right: auto;
}

.centre{
    text-align: center;
    align-content: center;
    margin-left: auto;
	margin-right: auto;
    

}
h4{
    background-color: rgb(215, 237, 250);
    padding: 10px;
}

h3{
    background-color: rgb(215, 237, 250);
    padding: 15px;
}

h2{
    background-color: rgb(215, 237, 250);
    padding: 20px;
}
h1{
    background-color: rgb(215, 237, 250);
    padding: 20px;
}

button{
    margin-bottom: 25px;
}

.video_wrapper {
    position: relative;
    background-color: antiquewhite;
    padding-bottom: 100%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 
    }
    iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 180%;
    }